<div class="sizzle-container">
  <% @sizzlers.each do |sizzler| %>
  <div class="card-sizzle">
    <div class="title">
      <% if sizzler.photo.present? %>
          <%= cl_image_tag sizzler.photo.key, class: "icon-flame" %>
        <% else %>
          <%= image_tag("sizzle_icon.png", class: "icon-flame") %>
        <% end %>
      <h1><%= sizzler.title %></h1>
    </div>
    <p><strong>Location:</strong> <%= sizzler.location %></p>
    <p><strong>Cooking style:</strong> <%= sizzler.cooking_style%></p>
    <p><strong>Price:</strong> <%= sizzler.price %></p>
    <p><strong>Speciality:</strong> <%= sizzler.speciality %></p>
    <p><strong>Owner:</strong> <%= sizzler.user.email %></p>

    <%= link_to "View", sizzler_path(sizzler), class: "btn btn-outline-primary rounded w-100" %>
  </div>
  <% end %>
</div>
