<div class="banner">
  <%#= image_tag "Braai/clint-bustrillos-3_M4NxDo89A-unsplash.jpg"%>
  <div class="inner-banner-container">
    <div class="banner-items" data-controller="search-swap">
      <h1>Hello <%= @user.name %></h1>
      <div data-search-swap-target="form1" class="d-none">
      <h2>Enter search radius in kilometers</h2>
        <%= form_with(url: nearby_sizzlers_path, method: :get, class: "d-flex") do %>
          <%= number_field_tag :radius, params[:radius], class: "input" %>
          <%= submit_tag "Search", class: "btn-card" %>
          <button class="search-type" data-action="click->search-swap#radius"><svg class="svg" fill="#000000" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M444.542,250.295h-82.645v94.981H223.266l25.164-25.164l-58.916-58.916L64.112,386.598L189.514,512l58.915-58.916 l-25.164-25.164h221.277V250.295z M428.384,411.762H184.257l41.322,41.322l-36.064,36.064L86.963,386.598l102.551-102.551 l36.064,36.064l-41.322,41.322h193.8v-94.981h50.328V411.762z"></path> </g> </g> <g> <g> <rect x="145.811" y="371.839" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -253.4735 232.4792)" width="16.158" height="100.741"></rect> </g> </g> <g> <g> <path d="M322.486,0l-58.916,58.916l25.164,25.164H67.458v177.626h82.645v-94.981h138.632l-25.164,25.164l58.916,58.915 l125.402-125.402L322.486,0z M322.486,227.952l-36.064-36.064l41.322-41.322h-193.8v94.981H83.616V100.238h244.128l-41.322-41.322 l36.064-36.064l102.551,102.551L322.486,227.952z"></path> </g> </g> <g> <g> <rect x="350.018" y="39.412" transform="matrix(0.7071 -0.7071 0.7071 0.7071 41.3975 279.5088)" width="16.158" height="100.741"></rect> </g> </g> </g></svg></button>
        <% end %>
      </div>
      <div data-search-swap-target="form2">
        <h2>What type of braai are you in the mood for?</h2>
        <%= form_with url: sizzlers_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "input"
            %>
          <%= submit_tag "Search", name: "", class: "btn-card" %>
          <button class="search-type" data-action="click->search-swap#radius"><svg fill="#000000" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M444.542,250.295h-82.645v94.981H223.266l25.164-25.164l-58.916-58.916L64.112,386.598L189.514,512l58.915-58.916 l-25.164-25.164h221.277V250.295z M428.384,411.762H184.257l41.322,41.322l-36.064,36.064L86.963,386.598l102.551-102.551 l36.064,36.064l-41.322,41.322h193.8v-94.981h50.328V411.762z"></path> </g> </g> <g> <g> <rect x="145.811" y="371.839" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -253.4735 232.4792)" width="16.158" height="100.741"></rect> </g> </g> <g> <g> <path d="M322.486,0l-58.916,58.916l25.164,25.164H67.458v177.626h82.645v-94.981h138.632l-25.164,25.164l58.916,58.915 l125.402-125.402L322.486,0z M322.486,227.952l-36.064-36.064l41.322-41.322h-193.8v94.981H83.616V100.238h244.128l-41.322-41.322 l36.064-36.064l102.551,102.551L322.486,227.952z"></path> </g> </g> <g> <g> <rect x="350.018" y="39.412" transform="matrix(0.7071 -0.7071 0.7071 0.7071 41.3975 279.5088)" width="16.158" height="100.741"></rect> </g> </g> </g></svg></button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="sizzle-container">
  <% photos_array = ["braai-1.jpg", "braai-2.jpg", "braai-3.jpg","braai-4.jpg", "braai-5.jpg", "braai-6.jpg", "braai-7.jpg", "braai-8.jpg","braai-9.jpg","braai-10.jpg"] %>
  <% @sizzlers.each do | sizzler | %>
  <div class="card-sizzle">
    <div class="card-img">
      <% if sizzler.photos.present? %>
        <%= cl_image_tag sizzler.photos.first.key, class: "card-photo"%>
      <% else %>
        <%= image_tag( photos_array.sample, class: "card-photo") %>
      <% end %>
    </div>
    <div class="cooking-style">
      <p class="cooking-tag"><%= sizzler.cooking_style %></p>
    </div>
    <div class="card-info">
      <div class="icon-container">
        <% if sizzler.cooking_style == "Wood" %>
        <div class="cooking-icon">
          <svg viewBox="0 0 24 24" id="Line" xmlns="http://www.w3.org/2000/svg" fill="#ee5126" stroke="#ee5126"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><line id="primary" x1="4" y1="21" x2="20" y2="17" style="fill:none;stroke:#ee126;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"></line><path id="primary-2" data-name="primary" d="M4,17l16,4m-8-6a4.58,4.58,0,0,0,4.67-4.67C16.67,7,13.33,7,13.32,3A6.92,6.92,0,0,0,10,8.33a3.29,3.29,0,0,1-1.33-2,7.18,7.18,0,0,0-1.34,4C7.33,12.43,8,15,12,15Z" style="fill:#ee5126;stroke:#ee5126;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"></path></g></svg>
        </div>
        <% elsif sizzler.cooking_style == "Charcoal" %>
        <div class="cooking-icon">
          <svg viewBox="0 0 24 24" id="Line" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path id="primary" d="M3,3H21M20,5V3H4V5a8,8,0,0,0,8,8h0A8,8,0,0,0,20,5Zm-4,7,1.7,5M5,21l2.14-9.64M20,19a2,2,0,1,0-2,2A2,2,0,0,0,20,19Z" style="fill:#EE5126;stroke:#EE5126;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"></path></g></svg>
        </div>
        <% elsif sizzler.cooking_style == "Gas"%>
        <div class="cooking-icon">
          <svg fill="#EE5126" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" stroke="#EE5126"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M25 1.9980469C24.79525 1.9980469 24.589062 2.0615 24.414062 2.1875C24.194063 2.3475 19 6.138 19 10.5C19 13.532 21.691 16 25 16C28.309 16 31 13.532 31 10.5C31 6.138 25.804984 2.3475 25.583984 2.1875C25.408984 2.0615 25.20475 1.9980469 25 1.9980469 z M 25 8C25 8 27 10.507 27 11.75C27 12.993 26.105 14 25 14C23.895 14 23 12.993 23 11.75C23 10.507 25 8 25 8 z M 9 14C6.2504839 14 4 16.250484 4 19L4 22L3 22C1.346 22 0 23.346 0 25L0 40C0 41.654 1.346 43 3 43L47 43C48.654 43 50 41.654 50 40L50 25C50 23.346 48.654 22 47 22L46 22L46 19C46 16.250484 43.749516 14 41 14L39 14 A 1.0001 1.0001 0 1 0 39 16L41 16C42.668484 16 44 17.331516 44 19L44 22L38 22L38 21.101562C38 19.462264 36.654388 18.110493 35.015625 18.101562L15.015625 18.009766L15.013672 18.009766C13.363414 18.001909 12 19.359784 12 21.009766L12 22L6 22L6 19C6 17.331516 7.3315161 16 9 16L11 16 A 1.0001 1.0001 0 1 0 11 14L9 14 z M 15.003906 20.009766L15.005859 20.009766L35.003906 20.101562C35.567143 20.104662 36 20.538862 36 21.101562L36 22L14 22L14 21.009766C14 20.442395 14.437037 20.006699 15.003906 20.009766 z M 44.5 26C45.328 26 46 26.672 46 27.5C46 28.328 45.328 29 44.5 29C43.672 29 43 28.328 43 27.5C43 26.672 43.672 26 44.5 26 z M 25 27C27.9724 27 30.433112 29.163334 30.910156 32L19.089844 32C19.566888 29.163334 22.0276 27 25 27 z M 19.089844 34L30.910156 34C30.433112 36.836666 27.9724 39 25 39C22.0276 39 19.566888 36.836666 19.089844 34 z M 4 45L4 47C4 47.552 4.448 48 5 48L8 48C8.552 48 9 47.552 9 47L9 45L4 45 z M 41 45L41 47C41 47.552 41.448 48 42 48L45 48C45.552 48 46 47.552 46 47L46 45L41 45 z"></path></g></svg>
        </div>
        <% else %>
        <div class="cooking-icon">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 511.998 511.998" xml:space="preserve" fill="#ee5126" stroke="#ee5126"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M444.444,168.075c-3.836,0-7.597-1.56-10.309-4.274c-2.727-2.711-4.272-6.472-4.272-10.307s1.546-7.597,4.272-10.309 c3.383-3.383,8.413-4.943,13.152-3.981c0.935,0.175,1.853,0.467,2.727,0.831c0.889,0.365,1.735,0.818,2.523,1.341 c0.802,0.525,1.546,1.137,2.216,1.808c2.712,2.712,4.274,6.474,4.274,10.309s-1.56,7.597-4.274,10.307 c-0.671,0.671-1.414,1.283-2.216,1.823c-0.787,0.525-1.633,0.977-2.523,1.341c-0.875,0.365-1.792,0.642-2.727,0.831 C446.354,167.987,445.39,168.075,444.444,168.075z"></path> <path d="M400.698,138.914H186.537L393.23,45.825c7.343-3.308,10.613-11.939,7.308-19.283c-3.307-7.341-11.937-10.612-19.283-7.308 l-265.733,119.68H51.867c-8.052,0-14.581,6.529-14.581,14.581c0,8.052,6.529,14.581,14.581,14.581h4.931 c-2.474,3.985-2.983,9.088-0.913,13.689c2.432,5.399,7.744,8.597,13.304,8.597c2.001,0,4.036-0.416,5.98-1.29l46.618-20.995h278.911 c8.052,0,14.581-6.529,14.581-14.581S408.751,138.914,400.698,138.914z"></path> <path d="M427.136,29.148c-0.962,0-1.912-0.089-2.858-0.277c-0.935-0.19-1.853-0.465-2.727-0.83 c-0.876-0.365-1.735-0.818-2.522-1.341c-0.802-0.539-1.546-1.152-2.216-1.823c-2.712-2.712-4.274-6.474-4.274-10.309 c0-0.948,0.102-1.912,0.292-2.843c0.19-0.932,0.467-1.852,0.831-2.727c0.365-0.888,0.817-1.734,1.341-2.521 c0.525-0.802,1.137-1.547,1.808-2.218s1.414-1.283,2.216-1.808c0.787-0.523,1.648-0.977,2.523-1.341 c0.875-0.365,1.792-0.64,2.727-0.83c4.739-0.962,9.768,0.598,13.165,3.979c0.671,0.671,1.269,1.416,1.808,2.218 c0.525,0.787,0.977,1.633,1.341,2.521c0.365,0.876,0.642,1.793,0.831,2.727c0.19,0.933,0.276,1.896,0.276,2.843 c0,3.835-1.546,7.597-4.258,10.309C434.717,27.588,430.971,29.148,427.136,29.148z"></path> <path style="fill:#ee5126;" d="M444.23,283.016H67.769c-13.301,0-24.083-10.783-24.083-24.083v-3.106 c0-13.301,10.783-24.083,24.083-24.083h376.46c13.301,0,24.083,10.783,24.083,24.083v3.106 C468.313,272.233,457.53,283.016,444.23,283.016z"></path> <path style="fill:#ee5126E4AAA9;" d="M308.34,449.785H203.659c-76.217,0-138.004-61.787-138.004-138.004v-28.765h380.689v28.765 C446.344,387.999,384.557,449.785,308.34,449.785z"></path> <path style="fill:#ee5126;" d="M298.77,497.417h-85.542c-13.153,0-23.815-10.663-23.815-23.815l0,0 c0-13.153,10.663-23.815,23.815-23.815h85.542c13.153,0,23.815,10.663,23.815,23.815l0,0 C322.585,486.754,311.924,497.417,298.77,497.417z"></path> <path d="M444.231,217.163H67.769c-21.319,0-38.664,17.345-38.664,38.664v3.107c0,15.343,8.985,28.628,21.969,34.869v17.978 c0,74.917,54.272,137.394,125.564,150.188c-1.169,3.671-1.807,7.578-1.807,11.633c0,21.173,17.224,38.396,38.397,38.396h85.54 c21.173,0,38.397-17.224,38.397-38.396c0-4.053-0.636-7.961-1.807-11.633c71.292-12.792,125.564-75.271,125.564-150.188v-17.978 c12.984-6.241,21.969-19.525,21.969-34.869v-3.107C482.894,234.508,465.55,217.163,444.231,217.163z M58.267,255.827 c0-5.239,4.263-9.502,9.502-9.502h376.462c5.239,0,9.502,4.263,9.502,9.502v3.107c0,5.239-4.263,9.502-9.502,9.502H67.769 c-5.239,0-9.502-4.263-9.502-9.502V255.827z M298.77,482.836h-85.54c-5.092,0-9.236-4.142-9.236-9.234 c0-5.092,4.144-9.236,9.236-9.236h85.54c5.092,0,9.236,4.144,9.236,9.236C308.006,478.693,303.862,482.836,298.77,482.836z M431.763,311.781c0,68.055-55.368,123.422-123.422,123.422h-9.569h-85.54h-9.569c-68.055,0-123.422-55.368-123.422-123.422v-14.184 h351.525v14.184H431.763z"></path> </g></svg>
        </div>
        <% end %>
      </div>
          <p class="info-item-sea" ><%= sizzler.speciality %></p>
      <div class="title">
        <% if @user && @user.owned_sizzlers.include?(sizzler) && @user.photo.present?%>
          <%= cl_image_tag @user.photo.key, class: "d-none" %>
        <% else %>
          <%= image_tag("sizzle_icon.png", class: "d-none") %>
        <% end %>
        <h1><%= sizzler.user.name %></h1>
      </div>
      <div class="info-container">
        <p class="info-item" ><strong><%= sizzler.title %></p></strong>
        <p class="location-info"><span><svg class="location-icon" version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill="#ee5126" d="M32,0C18.746,0,8,10.746,8,24c0,5.219,1.711,10.008,4.555,13.93c0.051,0.094,0.059,0.199,0.117,0.289l16,24 C29.414,63.332,30.664,64,32,64s2.586-0.668,3.328-1.781l16-24c0.059-0.09,0.066-0.195,0.117-0.289C54.289,34.008,56,29.219,56,24 C56,10.746,45.254,0,32,0z M32,32c-4.418,0-8-3.582-8-8s3.582-8,8-8s8,3.582,8,8S36.418,32,32,32z"></path> </g></svg></span><%= sizzler.location %></p>
      </div>
      <div class="price-btn">
        <p class="info-item price" >R<%= sizzler.price %> per braai</p>
        <%= link_to "View", sizzler_path(sizzler), class: "btn-card" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
