<h1>Hire <%= @sizzler.title %></h1>

<p>R<%= @sizzler.price%> per hour</p>

<div style="width: 50%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<%= link_to "Hire",  new_sizzler_booking_path(@sizzler) %>

<%# <%= link_to "All bookings", sizzler_booking(@sizzler) %>
