<!--<h1>Hello</h1>-->
<h1>All bookings for <%= @user.name %></h1>

<% @bookings.each do |booking| %>
  <div style="display: block;">
    <%= booking.user.name %>
    <%= booking.date %>
    <%= booking.sizzler.title %>
  </div>
  <%= link_to "Delete", booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
<% end %>
