<h1>New booking</h1>
<%= simple_form_for([@sizzler, @booking])  do |f| %>
  <%= f.input :date, as: :datetime %>
  <%= f.input :sizzler_id, as: :hidden, input_html: { value: @sizzler.id } %>
  <%= f.input :user_id, as: :hidden, input_html: { value: @user.id } %>
  <%= f.submit "Book Sizzler", class: "btn btn-primary" %>
<% end %>
