<h1>New booking</h1>
<<<<<<< HEAD
<%= simple_form_for([@sizzler, @booking])  do |f| %>
  <%= f.input :date, as: :datetime %>
  <%= f.input :sizzler_id, as: :hidden, input_html: { value: @sizzler.id } %>
  <%= f.input :user_id, as: :hidden, input_html: { value: @user.id } %>
=======
<%= simple_form_for([ @sizzler, @booking ]) do |f| %>
  <%= f.input :date %>
  <%= f.hidden_field :sizzler_id, value: @sizzler.id %>
  <%= f.hidden_field :user_id, value: @user.id %>
>>>>>>> master
  <%= f.submit "Book Sizzler", class: "btn btn-primary" %>
<% end %>
