
<h1>All bookings</h1>

<% @bookings.each do |booking| %>
  <div style="display: block;">
    <%= booking.user.email %>
    <%= booking.date %>
    <%= booking.sizzler.title %>
    <%= booking.accepted %>
  </div>
  <%= link_to "Delete", booking_path(booking), method: :delete, data: { turbo_confirm: "Are you sure?" } %>

<% end %>
