<div class="bookings-container-show">
  <h1>All <%= @user.name %>'s bookings </h1>
  <div class="bookings-list">
      <% @bookings.each do |booking| %>
      <div class="booking-item-container">
        <div class="booking-item">
          <p><strong>Booking by:</strong> <%= booking.user.name%></p>
          <p><strong>Date: </strong><%= booking.date.try(:strftime, "%Y-%m-%d") %></p>
          <p><strong>For:</strong> <%= booking.sizzler.title %></p>
        </div>
        <div class="buttons">
          <%#= link_to "Delete", sizzler_booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
          <% if booking.accepted == "pending" %>
            <button class="btn-pending"><%= booking.accepted %></button>
          <% elsif booking.accepted == "accepted" %>
            <button class="btn-accepted"><%= booking.accepted %></button>
          <% else %>
            <button class="btn-decline"><%= booking.accepted %></button>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
