<div class="sizzle-account-container">
  <h1 class="mb-3">Bookings for <%= @sizzler.title %></h1>

  <% @bookings.each do | booking | %>
  <div class="date-container">
    <div class="date-item">
      <%= booking.user.email %>
      <br>
      <%= booking.date %>
    </div>
    <div class="link-container">
      <% if booking.accepted == "accepted" || booking.accepted == "declined" %>
        <p><%= booking.accepted %></p>
      <% else %>
        <%= form_with(model: booking, url: accept_sizzler_booking_path(@sizzler, booking), method: :patch) do |f| %>
          <%= f.submit "Accept" %>
        <% end %>
        <%= form_with(model: booking, url: decline_sizzler_booking_path(@sizzler, booking), method: :patch) do |f| %>
          <%= f.submit "Decline" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
